{% extends 'base.html' %}
{% block title %}
All Horticulture Pests and Diseases
{% endblock title %}

{% block body %}
<h3 class="text-center"><span>All Horticulture Pests and Diseases</span> </h3>

{% with messages=get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<br>
<style>
    .custom-img {
        height: 200px;
    }
</style>

<div class="container mt-3">
  <div class="row">
    {% for pest in pests %}
      <div class="col-sm-4">
        <div class="card">
            <img src="{{ pest.PrimaryImageURL }}" class="card-img-top custom-img" alt="Primary Image">
            <div class="card-body">
            <h5 class="card-title">Common Name: {{ pest.CommonName }}</h5>
            <p class="card-text">Currently Present in NZ: {% if pest.PresenceInNZ %}Yes{% else %}No{% endif %}</p>
            <a href="/view_pests?pest_id={{ pest.ID }}" class="btn btn-primary">View Details</a>

            
            
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}
